<style>
    aside {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
        align-items: center;
    }

    section.aside  {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: center;
    }
</style>

<section class="aside" id="side-page-detail">
    <a id="side-video-btn-2" href="---"><img id="side-feature-image" src="/assets/images/posts/Run-Script-On-Adobe-Applications.jpg" alt=""></a>
    <p style="text-align: center;">Watch the Video Tutorial Download Dependency Files Below</p>
    <a id="side-download-btn" href="---" class="btn-blue big-font" title="Download Related File" download>Download</a>
    <a id="side-video-btn" href="---" class="btn-red big-font" title="See the full video tutorial" target="_blank">Video Link</a>
</section>

<section  class="aside" >
    <img width="100px" src="/assets/images/icon-2.png" title="Motiontill" alt="">
    <h3>Motiontill</h3>
    <p>Create Video Quick & Smart</p>
    <p style="text-align: center;">Join Us on Our Journey to Streamlined Workflows!</p>
    <div class="social" style="text-align: center;">
        <a href="https://www.youtube.com/c/motiontill"><img height="23px" style="margin-left: 10px;"
                src="/assets/images/yout.png" alt=""></a>
        <a href="https://www.pinterest.com/Motiontill"><img height="23px" style="margin-left: 10px;"
                src="/assets/images/pintrest.png" alt=""></a>
        <a href="mailto:motiontill@gmail.com?subject=Contact%20to%20%20Motiontill&body=Hi"><img height="23px"
                style="margin-left: 10px;" src="/assets/images/email.png" alt=""></a>
    </div>
    <a href="https://www.youtube.com/@Motiontill?%20sub_confirmation=1" class="btn-red round">Follow On Youtube</a>
</section>

<!-- <section class="aside" >
    <div class="grid-container"
        style="text-align: center; background-color: rgba(0, 0, 0, 0.1);padding:.5rem .3rem ;border-radius:.5rem;">

        <a href="/pages/how-to-use-motiontill-liveview/" class="grid-item"><img width="95%" title="Use Motiontill Liveview"
                src="/assets/images/posts/how-to-use-motiontill-live-view-extension.jpg" alt=""></a>
        <a href="/pages/how-to-create-motiontill-liveview-package/" class="grid-item"><img width="95%" title="Make Package for Liveview"
                src="/assets/images/posts/how-to-create-motiontill-liveview-package.png" alt=""></a>


    </div>
</section> -->
<!-- 
<section class="aside" >
    <p>Share This Article In Social: </p>
    <div class="row-container">
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.motiontill.com" title="Share This Page" target="_blank"><img width="30px" src="/assets/images/facebook.png" alt=""></a>
        <a href="https://twitter.com/intent/tweet?url=https://www.motiontill.com&text=Free-Extension" title="Share This Page" target="_blank"><img width="30px" src="/assets/images/x.png" alt=""></a>
        <a href="https://api.whatsapp.com/send?text=Free-extension%20https://www.motiontill.com" title="Share This Page" target="_blank"><img width="30px" src="/assets/images/whatsap.png" alt=""></a>
        <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://www.motiontill.com"  title="Share This Page" target="_blank"><img width="30px" src="/assets/images/linkedin.png" alt=""></a>
    </div>

</section> -->



<script>
     let cat = $("#articles").attr("category")
     if (cat == "") {
    $("#side-feature-image").attr("src", $("#feature-image").attr("src"))
    $("#side-download-btn").attr("href", $("#custom_fields").attr("download_url"))
    $("#side-video-btn").attr("href", $("#custom_fields").attr("video_url"))
    $("#side-video-btn-2").attr("href", $("#custom_fields").attr("video_url"))
     }else{
        $("#side-page-detail").remove()
  
     }
</script>
<!-- <section>
    <strong>Categories:</strong>
    <ul>
        <li><a href="">Free Downloads</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Tutorials</a></li>
    </ul>
</section> -->