<style>
    .container {

        width: 100%;
        margin: 0 auto;
        margin-top: 2rem;
        max-width: 1140px;
    }

    .main-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 1rem;
        color: rgb(141, 138, 137);
    }

    .main-footer>section {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        padding: 0rem 3rem;
        width: 100%;
        gap: 1rem;

    }

    .main-footer>section>a {
        padding: .2rem 0rem;

    }

    .copyright {
        color: rgb(136, 133, 133);
        background-color: rgb(216, 215, 212);
        padding: .3rem;
        text-align: center;
        border-radius: 1rem 1rem 0 0;
    }
</style>
<div class="container">
    <div class="main-footer ">

        <section><a href="/"><img src="/assets/images/Motiontill-logo-purple-2.png" width="170px"></a></section>
        <section>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/Contact-us">Contact</a>
            <a href="/FAQs">FAQs</a>
        </section>
        <section>
            <p>Motiontill is a platform designed for creating and managing motion graphics and visual content. It
                focuses on providing tools and resources for motion designers, video editors, and creative professionals
                to enhance their workflow and productivity. Motiontill aims to simplify the process of integrating
                motion graphics into various projects, offering templates, assets, and an intuitive interface.</p>
        </section>
        <section>
            <p>© 2024 Motiontill. All rights reserved. | Privacy Policy | Terms of Service This footer layout provides
                essential information about Motiontill, quick navigation links, social media connections, support
                options, and legal disclaimers, ensuring a comprehensive and user-friendly experience.</p>
        </section>
        <!-- <section style="direction: rtl;">
        <a href="https://www.youtube.com/c/MotionTill/videos"><img width="30px" src="/assets/images/x.png" alt=""></a>
        <a href="https://www.facebook.com/MotionTillShop"><img width="30px" src="/assets/images/facebook.png" alt=""></a>
        <a href="https://www.youtube.com/c/motiontill"><img width="30px" src="/assets/images/youtube.png" alt=""></a>
    </section> -->


    </div>
    <div class="copyright">
        <p>© All Rights Reserved By Motiontill.com</p>
    </div>
</div>