<style>
    .header {
        overflow: hidden;
        background-color: #563DEA;
        padding: 20px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .header a {
        float: left;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
    }

    .header a.logo {
        font-size: 25px;
        font-weight: bold;
    }

    .header a:hover {
        background-color: #dddddd02;
        color: rgb(240, 240, 240);
        opacity: .5;
        transition: all ease-in-out 1s 1s;
    }

    /* Style the active/current link*/
    .header a.active {
        background-color: rgba(202, 182, 255, 0.096);
        color: white;
    }

    /* Float the link section to the right */
    .header-right {
        float: right;
    }

    @media screen and (max-width: 769px) {
        .header {
            flex-direction: column;
            text-align: center;
        }

        .header a {
            float: none;
            display: block;

        }

        .header-right {
            float: none;
        }
    }
</style>

<div class="header ">
    <div class="main-container">
        <a href="/" class="logo">
            <img src="/images/logo.png" alt="">
        </a>
        <div class="header-right">
            <a href="/category/free-download" title="All Motiontill Liveview Free Items For Download">Free Items</a>
            <a class="active" href="/files/motiontill-liveview.zip" title="Download Motiontill Liveview Extension Directly">Download</a>
        </div>
    </div>
</div>